html,
body {
  min-height: 100%;
}
body,
div,
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #222;
}
i {
  margin: 5px;
}
body {
  background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg")
    no-repeat center;
  background-size: cover;
}
h1,
h2 {
  font-weight: 400;
}
h2 {
  margin: 0 0 0 8px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  background-color: #f8f9fa;
}
.left-part,
form {
  padding: 25px 50px;
}
label {
  display: flex;
  flex-direction: row;
}
.left-part {
  text-align: center;
}
form {
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background: #fff;
  max-width: 800px;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
.error-handling small {
  visibility: hidden;
}
.error-handling.error small {
  visibility: visible;
  color: rgb(245, 16, 16);
}
input,
select {
  padding: 5px;
  margin-top: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
input::placeholder {
  color: #a2a9b1;
}
option:focus {
  border: none;
}
option {
  background: black;
  border: none;
}
.checkbox {
  margin-top: 20px;
}
.checkbox input {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.checkbox a {
  color: #26a9e0;
}
.checkbox a:hover {
  color: #85d6de;
}
.btn-item,
button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: #26a9e0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.btn-item {
  display: inline-block;
  margin: 20px 5px 0;
}
button {
  width: 100%;
}
button:hover,
.btn-item:hover {
  background: #85d6de;
}

@media (min-width: 568px) {
  html,
  /* body {
    height: 100%;
  } */
  .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
  }
  .left-part,
  form {
    flex: 1;
    height: auto;
  }
}
.modal-b {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.modal-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background: #fff;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* form {
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background: #fff;
  max-width: 800px;
} */
